h1{color:red; foont-family:Arial;}
h2{color:red; font-family:Arial;}
h3{color:gray; font-family:Arial;}
h4{color:blue; font-family:Arial;}
h5{color:yellow; font-family:Arial;}
h6{color:grey; font-family:Arial;}